:root {
  --black-color: #000000;

  --bg-color: #151617;
  --bg-color-2: #090A0A;
  --bg-color-3: #222;

  --main-color: #FA292A;
  --main-color-2: #ED1D24;

  --text-color: #ffffff;
  --text-muted: #c2c2c2;

  --track-color: #202324;
  --thumb-color: #454a4d;
  --thumb-hover-color: #596268;

  --fb-color: #3b5998;
  --google-color: #a61c00;
  --twitter-color: #1da1f2;

  --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}