#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  @include padding-y(0.8rem, 0.8rem);
  @include transition(background-color, 0.2s, linear);

  &.sticky {
      background-color: var(--bg-color);  
  }
}

.navbar {
  @include flexbox(space-between);
}

.nav_logo {
  @include devices(xs) {
      font-size: 1.2rem;
  }
  
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}




.nav_actions {
  @include flexbox($alignItems: center);
  gap: 3rem;
  font-size: 1.5rem;

  @include devices(xs) {
      gap: 2.5rem;
      font-size: 1.2rem;
  }
}

.nav_menu {
  font-size: 1.7rem;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  @include devices(xs) {
    gap: 2rem;
    font-size: 1rem;
  }
}

.nike_action,
.nb_action,
.adidas_action,
.puma_action,
.search_action,
.cart_action,
.user_action {
  position: relative;
  display: inline-block;
}

.nike_action,
.nb_action,
.adidas_action,
.puma_action,
.search_action,
.cart_action {
  &:hover .tooltip {
      @include toggleVisibility(visible, 1);
  }
}

.nike_action,
.nb_action,
.adidas_action,
.puma_action,
.search_action,
.user_action {
  span {
      cursor: pointer;
  }
}

.cart_action {

  .badge {
      @include centered;
      @include dimension(20px, 20px);
      position: absolute;
      top: 0;
      right: -20px;
      background-color: var(--main-color-2);
      border-radius: 50%;
  }
}

.user_action {

  .dropdown_menu {
      position: absolute;
      top: 50px;
      right: 0;
      width: 17.5rem;
      background-color: var(--bg-color);
      padding: 1.4rem;
      font-size: 0.9rem;
      border-radius: 3px;
      @include bordered(1px, var(--text-muted));
      @include toggleVisibility(hidden, 0);
      @include transition(all, 0.2s, ease-in-out);

      h4 {
          font-weight: 600;
          letter-spacing: 0.5px;

          a {
              color: var(--main-color);
              opacity: 0.95;

              &:hover {
                  opacity: 1;
              }
          }
      }

      p {
          font-size: 0.8rem;
          margin-top: 0.5rem;
      }

      button {
          margin-top: 1rem;
          padding: 0.8rem 1rem;
          @include bordered(1px, var(--text-muted));
          @include transition(all, 0.3s, ease);

          &:hover {
              color: #eee;
              border-color: #eee;
          }
      }

      li {
          &:not(:last-child) {
              margin-bottom: 0.5rem;
          }

          a:hover {
              color: #eee;
          }
      }
  }

  &:hover .dropdown_menu {
      @include toggleVisibility(visible, 1);
  }
}