.services_wrapper {
  @include grid-cols(4, 1fr, 2rem);
  place-items: center;
  @include padding-y(5rem, 5rem);


  @include devices(lg) {
      @include grid-cols(2, 1fr, 3rem);
  }

  @include devices(xs) {
      grid-template-columns: 1fr;
  }
}

.services_card {
  @include flexbox(flex-start, center);
  gap: 1rem;
}

.services_icon {
  color: var(--main-color);
  opacity: 0.9;
  font-size: 4rem;
  line-height: 1;
}

.services_details {
  p {
      font-size: 0.875rem;
      margin-top: 0.4rem;
      opacity: 0.8;
  }
}